---
import Layout from '@layouts/Layout.astro';
import Header from './layouts/Header.astro';
import Navbar from './layouts/Navbar.astro';
---

<Layout title='caroselling-it'>
	<main>
		<Navbar />
		<Header />
	</main>
</Layout>

<style>
	main {
		padding: 1rem 60px;
		background-color: var(--caro-main);
		color: var(--caro-primary);
	}
</style>
